---
import Calendar from "../components/Calendar";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="max-w-4xl mx-auto w-full px-4 py-4">
    <h1 id="trend"></h1>
    <Calendar client:only="solid-js" />
  </div>
</Layout>
